#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

mainmenu "Project Configuration"

config AIRCONDITIONER
    bool
    default y
    select HAVE_LCD
    select HAVE_GRAPHICS
    select HAVE_AUDIO
    select HAVE_VIDEO

config CMAKE_SOURCE_DIR
	string
	option env="CMAKE_SOURCE_DIR"

config DEF_CHIP_PKG_IT9854
    def_bool y

config DEF_CHIP_REV_A0
    def_bool y

config RAM_SIZE
    default "0x4000000"

config ENABLE_ROTATE
    default y

config RAM_INIT_SCRIPT
    default "IT9850A0_360MHz.scr" if !ENABLE_ROTATE
    default "IT9850A0_360MHz_tiling_pitch2048.scr"  if ENABLE_ROTATE

config SET_ROTATE
    int
    default 0 if !ENABLE_ROTATE
    default 1 if ENABLE_ROTATE

config TILING_WIDTH_128
    int
    default 0

config WATCHDOG_ENABLE
    def_bool y

config DCPS_ENABLE
    def_bool y

config FONT_FILENAME
    default "wqyMicroHeiProportional.ttf"

config BACKLIGHT_ENABLE
    def_bool y

config BACKLIGHT_DUTY_CYCLES
    default "95, 92, 88, 82, 75, 65, 55, 40, 25, 5"

config BACKLIGHT_DEFAULT_DUTY_CYCLE
    default "5"

config LCD_ENABLE
    def_bool y

config LCD_WIDTH
    default "800"

config LCD_HEIGHT
    default "480"

config LCD_PITCH
    default "1600"

config LCD_INIT_SCRIPT
    default "IT9850_LCD_800_480_Allentech_7inch_565.txt.in"

config CMDQ_ENABLE
    def_bool y

config M2D_ENABLE
    def_bool y

config JPEG_HW_ENABLE
    def_bool y

config AUDIO_ENABLE
    def_bool y

config AUDIO_DAC_MODULE
    default "itp_dac_alc5616.c"

config AUDIO_CODEC_MP3DEC
    def_bool y

config AUDIO_CODEC_WMADEC
    def_bool y

config AUDIO_CODEC_WAV
    def_bool y

config COMPRESS_AUDIO_PLUGIN
    def_bool y

config VIDEO_ENABLE
    def_bool y

config KEYPAD_ENABLE
    def_bool n

config NOR_ENABLE
    def_bool y

config NOR_CACHE_SIZE
    default "0x200000"

config NOR_RESERVED_SIZE
    default "0x200000"

config NOR_PARTITION0
    def_bool y

config NOR_PARTITION0_SIZE
    default "0xD00000"

config NOR_PARTITION1
    def_bool y

config SD0_ENABLE
    def_bool y

config GPIO_SD0_IO
    default "16, 17, 18, 19, 20, 21, -1, -1, -1, -1"

config USB0_ENABLE
    def_bool y

config MSC_ENABLE
    def_bool y

config FS_FAT
    def_bool y

config RTC_ENABLE
    def_bool y

config I2C0_ENABLE
    def_bool y

config DEF_IIC0_GPIO_CONFIG_1
    def_bool y

config I2C1_ENABLE
    def_bool y

config DEF_IIC1_GPIO_CONFIG_1
    def_bool y

config TOUCH_ENABLE
    def_bool y

config TOUCH_MODULE
    default "ft5316"

config TOUCH_X_MAX_VALUE
    default "0x31F"

config TOUCH_Y_MAX_VALUE
    default "0x1DF"

config GPIO_TOUCH_INT
    default "38"

config GPIO_TOUCH_WAKE
    default "-1"

config DEF_TOUCH_I2C1
    def_bool y

config I2S_ENABLE
    def_bool y

config I2S_SPDIF_ENABLE
    def_bool n

config POWER_SAVING_ENABLE
    def_bool y

config DEF_POWER_STANDBY
    def_bool y

config POWER_STANDBY_CPU_FREQ_RATIO
    default "15"

config POWER_STANDBY_BUS_FREQ_RATIO
    default "30"

config UART1_ENABLE
    def_bool y

config GPIO_UART1_TX
    default "4"

config GPIO_UART1_RX
    default "-1"

config UART0_ENABLE
    def_bool y

config GPIO_UART0_TX
    default "34"

config GPIO_UART0_RX
    default "33"

config GPIO_SD0_CARD_DETECT
    default "98"

config GPIO_SD0_POWER_ENABLE
    default "99"

config SPI0_MOSI_GPIO
    default "18"

config SPI0_MISO_GPIO
    default "19"

config SPI0_CLOCK_GPIO
    default "20"

config SPI0_CHIP_SEL_GPIO
    default "14"

config SPI1_ENABLE
    def_bool y

config SPI0_MOSI_GPIO
    default "29"

config SPI0_MISO_GPIO
    default "30"

config SPI0_CLOCK_GPIO
    default "31"

config SPI0_CHIP_SEL_GPIO
    default "15"

config GPIO_BACKLIGHT_PWM
    default "64"

config GPIO_EXPANDER_ENABLE
    default n

config NET_ENABLE
    def_bool n

config TASK_DRIVE_PROBE
    def_bool y

config DEF_DBG_UART1
    def_bool y

config DBG_INIT_SCRIPT
    default "IT9850A0_400MHz.txt"

config DBG_STATS
    def_bool y

config DBG_STATS_HEAP
    def_bool y

config DEF_BUILD_MINSIZEREL
    def_bool y

config SYSTEM_NAME
    default "ITE Display Control Board"

config ITU_FT_CACHE_ENABLE
    def_bool y

config ITU_FT_CACHE_SIZE
    default "0xFA000"

config GCC_LTO
    def_bool y

config BUILD_AUDIO_MGR
    def_bool y

config BUILD_INIPARSER
    def_bool y

config BUILD_ITU
    def_bool y

config BUILD_SDL
    def_bool y

config BUILD_UPGRADE
    def_bool y

config BUILD_PYINPUT
    def_bool y

if NET_ENABLE
config NET_ETHERNET
    def_bool n

config NET_ETHERNET_LINK_INTR
    def_bool y

config NET_ETHERNET_MAC_ADDR_RANDOM
    def_bool y

config NET_ETHERNET_MAC_ADDR_STORAGE
    def_bool y

if NET_ETHERNET_MAC_ADDR_NOR

config NET_ETHERNET_MAC_ADDR_POS
    default "0x70000"

endif

config NET_ETHERNET_MAC_ADDR_UPGRADE
    def_bool y

config NET_DHCP_SERVER
	def_bool y

config DHCPS_ADDR_COUNT
  default "254"

config BUILD_MICROHTTPD
    def_bool y

config BUILD_XML2
    def_bool y
endif

if NET_WIFI
config NET_WIFI_WPA
    def_bool y

config NET_WIFI_SSID
    default "CtrlBoard"

config NET_WIFI_FIND_BEST_CHANNEL
    default n

config NET_WIFI_REDEFINE
	def_bool y

config NET_DHCP_SERVER
    def_bool y

config DHCPS_ADDR_COUNT
    default "254"
endif

config NET_HTTP
    def_bool y

config NET_FTP
    def_bool y

######################################################################
# Start of bootloader setting
######################################################################
config BOOTLOADER_ENABLE
    def_bool n

if BOOTLOADER_ENABLE && LCD_ENABLE

config LCD_BOOT_BITMAP
    default "../../project/airconditioner2/logo.bmp"

config BL_SHOW_LOGO
    def_bool y

endif

if BOOTLOADER_ENABLE
config UPGRADE_BOOTLOADER
    def_bool y

config UPGRADE_IMAGE
    def_bool y

if UPGRADE_IMAGE_NOR

config UPGRADE_IMAGE_POS
    default "0x80000"

endif

config UPGRADE_DATA
    def_bool y

config UPGRADE_PUBLIC
    def_bool y

config UPGRADE_OPEN_FILE
    def_bool y

config UPGRADE_PARTITION
    def_bool y

config UPGRADE_DELETE_PKGFILE_AFTER_FINISH
    def_bool y

config UPGRADE_NOR_IMAGE
    def_bool y

config UPGRADE_NOR_IMAGE_SIZE
    default "0x1000000"

config BL_LCD_CONSOLE
    def_bool y

config BL_ERR
    def_bool y

config BL_WARN
    def_bool y

config BL_INFO
    def_bool y

config BL_DBG
    def_bool y

config CHECK_FILES_CRC_ON_BOOTING
    def_bool y

endif

######################################################################
# End of bootloader setting
######################################################################

source "$CMAKE_SOURCE_DIR/sdk/Kconfig"

######################################################################
# Project Menu
######################################################################
menu "AirConditioner"

    config CHECK_FILES_CRC_ON_BOOTING
        bool "Checking files' CRC on booting time"
        default n
        help
            Checking files' CRC on booting time
        help_cht
            開啟開機時檢查檔案 CRC 值的功能。
        help_chs
            开启开机时检查档案 CRC 值的功能。

#    config ENABLE_ROTATE
#        bool "Rotate is enabled or not"
#        default y
#        help
#            Rotate is enabled or not
#        help_cht
#            是否開啟旋轉功能
#        help_chs
#            是否开启旋转功能

    config PLAY_VIDEO_ON_BOOTING
        bool "Play video on booting time"
        depends on VIDEO_ENABLE
        default n
        help
            Play video on booting time
        help_cht
            開機時播放影片
        help_chs
            开机时播放影片

    config BOOT_VIDEO_BGCOLOR
        string "Background color"
    	depends on PLAY_VIDEO_ON_BOOTING
    	default "0x000000"
        help
            Background color for booting video. The format is 0x00RRGGBB.
        help_cht
            播放開機動畫時的背景顏色。格式是 0x00RRGGBB。
        help_chs
            播放开机动画时的背景颜色。格式是 0x00RRGGBB。

    config BOOT_VIDEO_VOLUME
        string "Audio volume"
        depends on PLAY_VIDEO_ON_BOOTING
        default "80"
        help
            Audio volume for booting video. Range from 0 to 100.
        help_cht
            播放開機動畫時的音量。範圍從0到100。
        help_chs
            播放开机动画时的音量。范围从0到100。

    config BOOT_VIDEO_ENABLE_WINDOW_MODE
        bool "Window Mode is enabled or not"
        depends on PLAY_VIDEO_ON_BOOTING
        default n
        help
            Window Mode is enabled or not for booting video
        help_cht
            是否開啟開機動畫視窗化功能
        help_chs
            是否开启开机动画视窗化功能

    config VIDEO_WINDOW_X_POS
        string "Video Window's X coordinate"
        depends on BOOT_VIDEO_ENABLE_WINDOW_MODE
        depends on PLAY_VIDEO_ON_BOOTING
        default "0"
        help
            Video Window's X coordinate
        help_cht
            開機動畫視窗的X軸座標
        help_chs
            开机动画视窗的X轴座标

    config VIDEO_WINDOW_Y_POS
        string "Video Window's Y coordinate"
        depends on BOOT_VIDEO_ENABLE_WINDOW_MODE
        depends on PLAY_VIDEO_ON_BOOTING
        default "0"
        help
            Video Window's Y coordinate
        help_cht
            開機動畫視窗的Y軸座標
        help_chs
            开机动画视窗的Y轴座标

    config VIDEO_WINDOW_WIDTH
        string "Video Window's width"
        depends on BOOT_VIDEO_ENABLE_WINDOW_MODE
        depends on PLAY_VIDEO_ON_BOOTING
        default "800"
        help
            Video Window's width
        help_cht
            開機動畫視窗的寬度
        help_chs
            开机动画视窗的宽度

    config VIDEO_WINDOW_HEIGHT
        string "Video Window's height"
        depends on BOOT_VIDEO_ENABLE_WINDOW_MODE
        depends on PLAY_VIDEO_ON_BOOTING
        default "480"
        help
            Video Window's height
        help_cht
            開機動畫視窗的高度
        help_chs
            开机动画视窗的高度

    config PLAY_MJPEG_ON_BOOTING
        bool "Play MJPEG on booting time"
        depends on JPEG_HW_ENABLE
        default n
        help
            Play mjpeg on booting time
        help_cht
            開機時播放影片
        help_chs
            开机时播放影片

    config BOOT_MJPEG_FILE
        file "MJPEG file | ../../project/airconditioner2/media/boot/ | *.avi"
        depends on PLAY_MJPEG_ON_BOOTING
        default "boot.avi"
        help
            Play MJPEG file, It puts in media\boot\*.avi
        help_cht
            播放 MJPEG的avi檔案，放在 'media\boot\*.avi'。
        help_chs
            播放 MJPEG的avi档案，放在 'media\boot\*.avi'。

    config BOOT_VIDEO_BGCOLOR
        string "Background color"
    	depends on PLAY_MJPEG_ON_BOOTING
    	default "0x000000"
        help
            Background color for booting video. The format is 0x00RRGGBB.
        help_cht
            播放開機動畫時的背景顏色。格式是 0x00RRGGBB。
        help_chs
            播放开机动画时的背景颜色。格式是 0x00RRGGBB。

    config BOOT_VIDEO_VOLUME
        string "Audio volume"
        depends on PLAY_MJPEG_ON_BOOTING
        default "80"
        help
            Audio volume for booting video. Range from 0 to 100.
        help_cht
            播放開機動畫時的音量。範圍從0到100。
        help_chs
            播放开机动画时的音量。范围从0到100。

    config BOOT_VIDEO_ENABLE_WINDOW_MODE
        bool "Window Mode is enabled or not"
        depends on PLAY_MJPEG_ON_BOOTING
        default n
        help
            Window Mode is enabled or not for booting video
        help_cht
            是否開啟開機動畫視窗化功能
        help_chs
            是否开启开机动画视窗化功能

    config VIDEO_WINDOW_X_POS
        string "Video Window's X coordinate"
        depends on BOOT_VIDEO_ENABLE_WINDOW_MODE
        depends on PLAY_MJPEG_ON_BOOTING
        default "0"
        help
            Video Window's X coordinate
        help_cht
            開機動畫視窗的X軸座標
        help_chs
            开机动画视窗的X轴座标

    config VIDEO_WINDOW_Y_POS
        string "Video Window's Y coordinate"
        depends on BOOT_VIDEO_ENABLE_WINDOW_MODE
        depends on PLAY_MJPEG_ON_BOOTING
        default "0"
        help
            Video Window's Y coordinate
        help_cht
            開機動畫視窗的Y軸座標
        help_chs
            开机动画视窗的Y轴座标

    config VIDEO_WINDOW_WIDTH
        string "Video Window's width"
        depends on BOOT_VIDEO_ENABLE_WINDOW_MODE
        depends on PLAY_MJPEG_ON_BOOTING
        default "800"
        help
            Video Window's width
        help_cht
            開機動畫視窗的寬度
        help_chs
            开机动画视窗的宽度

    config VIDEO_WINDOW_HEIGHT
        string "Video Window's height"
        depends on BOOT_VIDEO_ENABLE_WINDOW_MODE
        depends on PLAY_MJPEG_ON_BOOTING
        default "480"
        help
            Video Window's height
        help_cht
            開機動畫視窗的高度
        help_chs
            开机动画视窗的高度

    config HW_VERSION
        string "Hardware version"
        default "V02"
        help
            Hardware version
        help_cht
            硬體版號。
        help_chs
            硬件版号。

    config SCREENSHOT_ENABLE
        bool "Screenshot is enabled or not"
        default n
        help
            Screenshot is enabled or not
        help_cht
            開啟螢幕擷取功能。
        help_chs
            开启屏幕撷取功能。

    config WEBSERVER_PORT
        string "Web server port"
        default "80"
        help
            Web server port
        help_cht
            網頁伺服器埠號。
        help_chs
            网页服务器埠号。

    config ITU_PATH
        string "ITU files path"
        default "itu/480x800"
        help
            ITU files path
        help_cht
            ITU檔案路徑。
        help_chs
            ITU档案路径。

    config UPGRADE_FTP_URL
        string "Upgrade ftp URL"
        default "ftp://192.168.1.1/ctrlboard/ITEPKG03.PKG"
        help
            Upgrade ftp URL
        help_cht
            網路更新F/W路徑。
        help_chs
            网络更新F/W路径。

    config UPGRADE_GUI
        bool "Upgrade by graphics display"
        default n
        help
            Upgrade by graphics display
        help_cht
            圖形顯示更新。
        help_chs
            图形显示更新。

    config DYNAMIC_LOAD_TP_MODULE
        bool "Dynamically Load the Touch Panel Module"
        default n
        help
            One PKG can support multiple TP module by modifying the Peripheral->TOUCH_MODULE.
        help_cht
            一個PKG可同時支援多組觸控模組，須配合Peripheral->TOUCH_MODULE的設定。
        help_chs
            一个PKG可同时支持多组触控模块，须配合Peripheral->TOUCH_MODULE的设定。

endmenu
