#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

config BUILD_FREETYPE
	def_bool y if BUILD_SDL_TTF
	
config BUILD_SDL
	def_bool y if BUILD_SDL_TTF
