#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

mainmenu "Project Configuration"

config TEST_GPIO
    bool
    default y

config CMAKE_SOURCE_DIR
	string
	option env="CMAKE_SOURCE_DIR"

config DEF_CHIP_PKG_IT9856
    def_bool y

config DEF_CHIP_REV_A0
    def_bool y  

config RAM_SIZE
    default "0x4000000"

config RAM_INIT_SCRIPT
    default "IT9850A0_400MHz_tiling_pitch2048.scr"

config LCD_ENABLE
    def_bool y

config LCD_WIDTH
    default "800"

config LCD_HEIGHT
    default "480"
    
config LCD_PITCH
    default "1600"

config LCD_INIT_SCRIPT
    default "IT9850_LCD_800_480_Allentech_7inch_565.txt.in"

config IOEX_ENABLE
    def_bool y
    
config UART1_ENABLE
    def_bool y

config GPIO_UART1_TX
    default "4"

config GPIO_UART1_RX
    default "-1"

config DEF_DBG_UART1
    def_bool y

config DBG_INIT_SCRIPT
    default "IT9850A0_400MHz.txt"
    

source "$CMAKE_SOURCE_DIR/sdk/Kconfig"

menu "GPIO Test"

choice
	prompt "Test GPIO App"
	default TEST_GPIO_EX_2

config TEST_GPIO_EX_1
	bool "TEST_GPIO_EXAMPLE_1"
	
config TEST_GPIO_EX_2
	bool "TEST_GPIO_EXAMPLE_2"

config TEST_GPIO_EX_3
	bool "TEST_GPIO_EXAMPLE_3"
    
config TEST_GPIO_EX_4
	bool "TEST_GPIO_EXAMPLE_4"

endchoice

endmenu
